<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>媒介</title>
    <!--收款码绑定  -->
    <script src="/static/js/layui/layui.all.js"></script>
    <link href="/static/js/layui/css/layui.mobile.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.7.8/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/layer/2.3/layer.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
    <script src="/static/js/common/common.js"></script>
    <link href="/static/css/common/common.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .account-change {
            background-color: #fff;;
            margin-bottom: 1rem;
            display: flex;
            padding-left: 1.2rem;
            padding-right: 0.2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .account-change-body {
            flex: 4;
            display: flex;
            flex-direction: column;
        }

        .account-change-body-item label {
            text-align: end;
            width: 5rem;
            margin-right: 0.5rem;
        }

        .account-change-body-item span {
            min-width: 5rem;
            display: inline-block;
        }

        .account-change-body-item button {
            width: 48%;
        }

        .account-change-body-item-highlight {
            color: #c3606a;
        }

        .page-link {
            color: #007bff !important
        }
    </style>
</head>

<body>
<div th:replace="common/header::html"></div>
<div id="gatheringCode" v-cloak>
    <!-- 收款媒介 -->
    <div class="page-body" style="background: #f2f2f2;" v-show="mediumShow">
        <button class="btn btn-outline-info btn-lg btn-block" style="margin-top: 0.3rem;" type="button"
                v-on:click="showEditMediumPage()">添加收款媒介
        </button>
        <div class="input-group" style="padding-bottom: 0.3rem; padding-top: 0.3rem;">
            <select class="form-control" style="width: 2.2rem; height: 3rem;" v-model="medium.status"
                    v-on:click="loadMediumsByPage">
                <option value="">状态</option>
                <option :value="1">开启</option>
                <option :value="0">关闭</option>
            </select>
            <select class="form-control" style="width: 6.2rem; height: 3rem;" v-model="mediumCode"
                    v-on:click="loadMediumsByPage">
                <option value="">收款媒介</option>
                <option :value="dictItem.mediumCode" v-for="dictItem in mediumDictItems">{{dictItem.mediumName}}
                </option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" v-on:click="query1">查询</button>
            </div>
        </div>
        <div class="account-change" v-for="medium in mediums">
            <div class="account-change-body">
                <div class="account-change-body-item">
                    <label>创建时间:</label> <span>{{medium.createTime | dateFilter("yyyy-mm-dd hh:mm:ss")}}</span>
                    <img v-show="medium.code == 'alipay'"  src="https://i.alipayobjects.com/common/favicon/favicon.ico" style="float: right;">
                    <img height="40px"  width="40px"  v-show="medium.code != 'alipay' "
                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHcAAABKCAMAAAC2AzvLAAABEVBMVEUAe4T///8ARHziGDb+/v4AQnswh4/iFTQwWIgAcXsAdH4Ad4DkOE
                         0AfYThACUAb3ru9PUALHDhACkAMnPhACEAPnkAOHbqFDDgABsAKG72+fkAGmm7w9LgABBKjpbfAADg6+xroKbL097B1diCq7CtyMvoZXH41tkAVn4Ab4L86+0ATn3vnKPpbnhY
                         cZfj6O0AY24uUIPmTl71wcUAImzysLX2zM/Q4OJjOmwAAGLjKUKmLFUkQngAYoAGaYLreoOaL1qQMl45QHW7JUtUPXDJIETtj5d1N2eSuLzUHT6DNGJKZZCJmrNsh6edrMHCAC
                         WXAEVYClWlADxyIFoAEGaVsb1TgJmyKVCuRmZrUXwwfo5PwhMpAAAI8UlEQVRogb2ZCXeiWBqGucgSIBFcsCKhaFxIpiwjMZtd6erUTM10mhmXnqVm/f8/ZL73AurVAHo6p+85
                         uaIGHu63vfdDie2P0cPlk157bbyr/fD9Z7lkuB9//GBJpeOsFxFD2se+NNt6Afb3ZUxZVuXns7OzcqwkWUbg7XOV2/brUMJ+X4U1K6F8mMEeVzltFlArsbJsHYaVJHuwy/1SL8
                         RWGFl2PxyKlazhDvfqvAirP1Vg1d8djJWs3g73S7GV//B2y93jKgX5A+7XiuXKB1MpsBKRO3pfhK3V3tDMkj0TuQ/tQvf+scrMPx7BNT2R+xu5V9rN32axe/9UwZWPwFpDkTv6
                         rtDMtdKyTO79eATXGIjcu8Kiof9UsVr1KPeGIrfYvfobFisaO3p0WuzeqtrsHkG1eiJ3VCB/4Kpv6F4zErmPKM46Rmrb9VFN/3OVe1E1KgR/PexQ5L6Qe/VTjDSEcZTdwg9VZn
                         4mrhZkQzPNUjszkXup1/T6CEco082XTeF893PVeknxbSe/kBImRrl7t7lKG2rHclr7DoUzzaxKUYB7baYo6YXoLylesZmI3CuiNb/gZE47H9EFLpsHu9cK6P+9JBo4uIRiF7t3
                         JnLHRGs/4CQyeE0/p8tkuqj/+wD30jIUFtqGYXq4RjFXckQuaO+xSAVhrF/S0VWqT+/+UsW1z7AMhQ0MXgVL1xswkUuioNdYTmuO6SjTxUwU1Ea36+6ZGH8qudcg+7KhxdNEYb
                         PCwCJRELigNa9hojF37yOdfd1s1ttNvdnptFzZPekrzoTAbqtDA8BOq+Wq9A5hFeDUgG9S6aBnWQaFlmXyCYc4RoaTOQQugqk+zt1ba1NCKXrz+uFu9DKeOf25O/Xov/yO3Jr4/T
                         j2T1x5uvD7zsSPncjCMiisbgw7wLpDwxoOBlrQSwaBRZND2T2MZojyNN023GsK3fMruKYG997yfPpOyfKC9VtyTFhVbflZ2s07kzxryL7cq04Uzfgnmoarc4LGEWc8inlFYyL3F
                         O5FWCGfeEKRCd6nOUlT3JKny4UvN3z6wu/T1O8ueMZgSkzStix9iadpNHsh4yvHN0xDlg3N3L0b7qjNF5lnLxKKsvcW9/G0AqWxxBXv5zi+mGK+xy2sPscM7pTWVSNMLAOo4CaN
                         cAMvGi03RKxBFLa5d+d51UCZrvF62aRaSWH2C7irLmb/Aqxlh9PvseppF9zUvQqVZrqyyUvIzOCmH1pEopf05nL3brigNddhhZWzxzbVSnr/V7AmDVCWLUSN21ngThoUaI47pQt
                         5tjngqFSSUpLFE0pLCwr964yntKaI3Fudl2Sk0ftmk9eP6/RF/xsFlDftYF3TEwXG7uIeJifc/HNuTBv3E5nrSkhmtjQkgA0d4GGQZm+PCVwFW7o6r5JsfPkC3uO5fqpgs9ehN3
                         FDxswNHH8CMe6mi8ZM+ZEmbcZFidbsYVY/kNBKphSZe9fcVPMv2SYoafeBMsLuflnCsV3M/RYlMb2BjyZ80Use34HZg3u1vPLDwFGkZCbQcOBkLpiJ3DEXnvrLpoxQ2aSgpm/+v
                         qJ5QUFEc6ezyr5ftrow40kD96AZWIaT18bcmDyx6a2X5RCGJ3Jv041FXX95eHy8G1+30fU3x3cPd6f/WPm+P2/4mFW5saRi1V+oHXXa9/2V6/b9KCLzDQaDjeaavZnjJCENLQvh
                         MNUJK2ACl9coLnnN9vl5u541DvV2u/3uK1Xhliq3+Izq3Gg0UJ1V+qCDGTXYNAxjS+otg9LJpmHx1SPK0s8TkXtV2JDV9KqtZFUjSPWK6yOGMRO5D8WdQmUj+FzONYc8i7OIU0T
                         u9XGNoEqmbmUH3Q+kczApXxKZ27JgdCOzsmQRKsojTmMC98g+X5U9z+tfkPjOFcfReoPQoUGFgUqFpyTDwSzkn3iU0DbkNvf82r0Zt6TP11+xbBdSGPt+f0pZ5YTZpShkudhkmY
                         L8ijRpuJVDmeZvuEf1+e5kkZ3sXCBDKIOigcJLBK5LGoxanSQoQZBjFm7yyxG5JX3+XiOoyjijTyNeqVCZG0vTeKrQdeFL+4bo4Q1X/h59EOZBteXejFs7ohF0qWD2J98uaNxD+I
                         OZp2SFMM1UOyBLJ9S09NIRBOus7oncssc4e32++nmFAsbLV8yyvIBJDa5/HlxI4hOuEZveIReFnHtX7N79TsFdrk+e08L+iUasl6o6F0OODa30bvjb9XrNUOS+FPf5+41gZ+FDj
                         7HeCYQOg67n2FzwIPfkWIoxi2uUZm11pxYTubfF7t1vBNXGJ+L2P93fX/RzM9PSqADzjYVhaFi8pmkSWXwmaZuo2nIv545KwmofO19B6fuLxUomM/eT4XCYJAlsSbs5Ngsimj2J
                         Yg3qp3jKlpkjkVvyEHb/6WDHX+8NYOZ/2XAg5UdiWVq6j4La95iHPYdCdW2tyrzP3+aOi0VhvxFsxDFhvTiOVyhWzyaiyMH2HFtKhSQXZs7UL9kYGev1RO5lsZn3G0HVden0VaPj
                         olj5zxb3sUK5Ao0Lbb6rQuLwbnS7PVtrfs6tHyUKqBvsRJVdbPGWtF+nfZVlm7zfZ4mNfoTUFi/eeleVLjcRuVeFVePVZ+zoj+JvtOXAPr5lmHR9k2sgNs2DKCJrhAGtmimw9NY
                         mZK35GfdYzcc+nYrzt5h7dsZzODKzvoeHFePK0EOcUbyt7eyI3OM0X52mJ/puGiUpDt2IwwehFA6IDA7a2FljIrcke197+OsufYjRvLMkAR7MrARbSSyHD5veDHszmrBxjqL1Tk
                         PaGCTljgrN/JrmA9xKt5b0KpuGxHc1m1XxjQ4mHkpbD9DMgcgtEYU3ffhrOyL3t3r4azGRWyIK1T/MHYHtidwS9+6Lwo6Zj334u819LBaFt3VvKHLHxe495Ong4cMTuSWicMjD3
                         0PHjnuZVNIpvOVPRjvuZVJhVL3xT1XKDvdXpJF6eBrZA7bDHReXq7eLK3vIdrm/7iffw8B2souFLjy19YJ
                         R+0rXVguH7H48AGzZ2q6ROZcpD9enBePpP/+d0jgpHs//08pHMJztUxn7P7q4/Y5sUBk7AAAAAElFTkSuQmCC" style="float: right;">
                </div>
                <div class="account-change-body-item">
                    <label>媒介:</label> <span>{{medium.code == 'card' ? '银行卡' : '支付宝'}}</span>
                    <label>状态:</label> <span>{{medium.status == 1 ? '开启' : '关闭'}}</span>
                </div>
                <div class="account-change-body-item">
                    <label>账号:</label> <span class="account-change-body-item-highlight">{{medium.mediumNumber}}</span>
                </div>
                <div class="account-change-body-item">
                    <label>收款人:</label> <span class="account-change-body-item-highlight">{{medium.mediumHolder}}</span>
                </div>
                <div class="account-change-body-item">
                    <!--<button class="btn btn-outline-info btn-lg" type="button" v-on:click="showQrManage(medium.mediumId)">二维码管理</button>-->
              <!--      <button class="btn btn-outline-info btn-lg" type="button"
                            v-on:click="showEditMediumPage(medium.mediumId)">编辑媒介
                    </button>-->
                </div>
            </div>
        </div>
        <div style="padding-left: 13rem;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" v-on:click="prePage1"
                                         v-show="totalPage1 > 0 && pageNum1 > 1">上一页</a></li>
                <li class="page-item"><a class="page-link" v-on:click="nextPage1"
                                         v-show="pageNum1 >= 1 && pageNum1 < totalPage1">下一页</a></li>
            </ul>
        </div>
    </div>
    <!-- 二维码管理 -->
    <div class="page-body" style="background: #f2f2f2;" v-show="qrcodeShow">
        <button class="btn btn-light btn-lg btn-block " type="button" v-on:click="addQr()">
            <li class="fa fa-plus-square">添加收款码</li>
        </button>
        <div class="account-change" v-for="qrcode in qrcodeArray">
            <div class="account-change-body">
                <div class="account-change-body-item">
                    <label>创建时间:</label> <span>{{qrcode.createTime | dateFilter("yyyy-mm-dd hh:mm:ss")}}</span>
                    <img src="https://i.alipayobjects.com/common/favicon/favicon.ico" style="float: right;">
                </div>
                <div class="account-change-body-item">
                    <label> 收款金额: </label> <span
                        class="account-change-body-item-highlight">{{qrcode.fixationAmount == '' || qrcode.fixationAmount == null ? '不固定' : qrcode.fixationAmount + '元'}}</span>
                </div>
                <div class="form-group">
                 <!--   <button class="btn btn-secondary   btn-block" style="background-color:#00a0e9" type="button"
                            v-on:click="dealeteQr(qrcode.fileId)">删除
                    </button>-->
                </div>
            </div>
        </div>
        <button class="btn btn-light btn-lg btn-block " type="button" v-on:click="reply()"><i aria-hidden="true"
                                                                                              class="fa fa-reply-all">返回</i>
        </button>
    </div>
    <!-- 二维码上传 -->
    <div class="page-body" style="background: #f2f2f2;" v-show="addQrShow">
        <div class="container" style="margin-top: 1.3rem;">
            <form>
                <div class="form-group">
                    <label> <span> 收款金额:</span>
                        <div class="custom-control custom-checkbox custom-control-inline"
                             v-on:click="switchGatheringAmountMode">
                            <input class="custom-control-input" id="fixedGatheringAmount" type="checkbox"
                                   v-model="editGatheringCode.fixedGatheringAmount">
                            <label class="custom-control-label" for="fixedGatheringAmount">固定收款金额</label>
                        </div>
                    </label>
                    <input :disabled="!editGatheringCode.fixedGatheringAmount" class="form-control" type="number"
                           v-model="editGatheringCode.gatheringAmount">
                </div>
                <div class="form-group">
                    <label>收款码:</label> <input class="form-control gathering-code-pic" type="file">
                </div>
                <button class="btn bg-primary btn-lg btn-block" style="background-color:#00a0e9" type="button"
                        v-on:click="addQrInfo()">保存
                </button>
                <button class="btn btn-light btn-lg btn-block" type="button" v-on:click="forQrManage()">返回</button>
            </form>
        </div>
    </div>
    <!-- 添加编辑收款媒介-->
    <div class="page-body" style="background: #f2f2f2;" v-show="mediumEdit">
        <div class="container" style="margin-top: 1.3rem;">
            <div class="form-group">
                <label>收款媒介:</label>
                <select class="form-control" v-model="medium.code" @change='getValue' >
                    <option value="">请选择</option>
                    <option :value="dictItem.mediumCode" v-for="dictItem in mediumDictItems">{{dictItem.mediumName}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>状态:</label>
                <select class="form-control" v-model="medium.status">
                    <option value="">请选择</option>
                    <option :value="1">开启</option>
                    <option :value="0">关闭</option>
                </select>
            </div>
            <div class="form-group" v-show="!isAlipay"   >
                <label>银行卡账号:</label>
                <input class="form-control" placeholder="银行卡号" type="text"
                                             v-model="medium.mediumNumber">
            </div>
            <div class="form-group" v-show="isAlipay"  >
                <label>支付宝账号:</label>
                <input class="form-control" placeholder="支付宝账号" type="text"
                                             v-model="medium.mediumNumber">
            </div>
            <div class="form-group">
                <label>收款人:</label> <input class="form-control" placeholder="填写真实姓名" type="text"
                                           v-model="medium.mediumHolder">
            </div>
         <!--   <div class="form-group">
                <label>关联手机号:</label> <input class="form-control" placeholder="请填写关联的手机号/邮箱/编号等" type="text"
                                             v-model="medium.mediumPhone">
            </div>-->
           <!-- <div class="form-group">
                <label>银行卡类型:</label>
                <select class="form-control" v-model="medium.bankcode">
                    <option value="">请选择</option>
                    <option :value="dictItem.mediumCode" v-for="dictItem in mediumDictBankTypeItems">
                        {{dictItem.mediumName}}
                </select>
            </div>-->
            <div class="form-group"  v-show="!isAlipay"  >
                <label>银行卡开户行:</label>
                <select class="form-control" v-model="medium.account">
                    <option value="">请选择</option>
                    <option :value="dictItem.mediumName" v-for="dictItem in mediumDictBankItems">{{dictItem.mediumName}}
                </select>
            </div>

            <div class="form-group" v-show="isAlipay"  >
                <label>收款解析码:</label>
                <input class="form-control" placeholder="请填写解析码" type="text"
                       v-model="medium.payInfo">

            </div>
            <div class="form-group" v-show="!isAlipay"  >
                <label>详细支行地址:</label>
                <input class="form-control" placeholder="请填写支行地址" type="text"
                       v-model="medium.payInfo">
            </div>


            <form>
                <button class="btn bg-primary btn-lg btn-block" style="background-color:#00a0e9" type="button"
                        v-on:click="addMedium">保存
                </button>
                <div v-show="editShow">
                  <!--  <button class="btn btn-warning btn-lg btn-block" type="button"
                            v-on:click="delMedium(medium.mediumId)">删除
                    </button>-->
                </div>
                <button class="btn btn-light btn-lg btn-block" type="button" v-on:click="hideEditGatheringCodePage">返回
                </button>
            </form>
        </div>
    </div>
</div>
<div th:replace="common/footer::html"></div>
<script src="/static/js/gathering-code.js" type="text/javascript"></script>
</body>
</html>